<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title th:fragment="title" th:text=""></title>
        <script th:fragment="script" type="text/javascript" src=""></script>
        <link th:fragment="css" rel="stylesheet" type="text/css" href=""></link>
    </head>
    <body>
        <div th:fragment="content">
            <em th:text="#{application.nom} + ' ' + #{application.version} + ' - ' + #{application.description}"></em>
        </div>
    </body>
</html>