<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title></title>
    </head>
    <body>
        <div th:fragment="content (endPoint)">
            <form novalidate="novalidate" class="card-text" th:action="@{ ${endPoint} }" method="post" th:object="${profilUtilisateur}">
                <!-- Prénom -->
                <div class="mb-3">
                    <label class="form-label" for="prenom" th:text="#{formulaire.champ.prenom}"></label>
                    <input class="form-control" type="text" id="prenom" th:field="*{prenom}" required="required"></input>
                </div>
                <div th:if="${errors != null and #lists.contains(errors, 'prenomObligatoire')}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span th:text="#{message.erreur.inscription.champ.obligatoire}" ></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>                                                                
                <div th:if="${errors != null and #lists.contains(errors, 'prenomTropCourt')}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span th:text="#{message.erreur.inscription.champ.trop.court}" ></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>                                                                
                <!-- Nom -->
                <div class="mb-3">
                    <label class="form-label" for="nom" th:text="#{formulaire.champ.nom}"></label>
                    <input class="form-control" type="text" id="nom" th:field="*{nom}" required="required"></input>
                </div>
                <div th:if="${errors != null and #lists.contains(errors, 'nomObligatoire')}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span th:text="#{message.erreur.inscription.champ.obligatoire}" ></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>                                                                
                <div th:if="${errors != null and #lists.contains(errors, 'nomTropCourt')}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span th:text="#{message.erreur.inscription.champ.trop.court}" ></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <!-- Sexe -->
                <div class="mb-3">
                    <label class="form-label" for="sexe" th:text="#{formulaire.champ.sexe}"></label>
                    <select class="form-control"  id="sexe" th:field="*{sexe}" required="required">
                        <option value="">Choisir</option>
                        <option value="F">Femme</option>
                        <option value="H">Homme</option>
                        <option value="A">Autre</option>
                    </select>
                </div>
                <div th:if="${errors != null and #lists.contains(errors, 'sexeObligatoire')}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span th:text="#{message.erreur.inscription.champ.obligatoire}" ></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <!-- Email -->
                <div class="mb-3">
                    <label class="form-label" for="mail" th:text="#{formulaire.champ.mail}"></label>
                    <input class="form-control" type="email" id="mail" th:field="*{mail}" required="required"></input>
                </div>
                <div th:if="${errors != null and #lists.contains(errors, 'mailObligatoire')}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span th:text="#{message.erreur.inscription.champ.obligatoire}" ></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div th:if="${errors != null and #lists.contains(errors, 'formatAddresseMail')}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span th:text="#{message.erreur.inscription.champ.syntaxe.incorrecte}" ></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div th:if="${errors != null and #lists.contains(errors, 'emailExisteDeja')}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span th:text="#{message.erreur.inscription.champ.email.existe}" ></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <!-- Mot de passe -->
                <div class="mb-3">
                    <label class="form-label" for="motDePasse" th:text="#{formulaire.champ.passe}"></label>
                    <div class="input-group mb-3">
                        <input class="form-control" type="password" id="motDePasse" th:field="*{motDePasse}" required="required" aria-describedby="voirMdp"></input>
                        <button class="btn btn-outline-secondary bi-eye-fill" type="button" id="voirMdp"></button>
                    </div>
                </div>
                <div th:if="${errors != null and #lists.contains(errors, 'motDePasseObligatoire')}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span th:text="#{message.erreur.inscription.champ.obligatoire}" ></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div th:if="${errors != null and #lists.contains(errors, 'formatMotDePasse')}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span th:text="#{message.erreur.inscription.champ.mot.de.passe.non.regex}" ></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <!-- Année de naissance -->
                <div class="mb-3">
                    <label class="form-label" for="anneeDeNaissance" th:text="#{formulaire.champ.annee.naissance}"></label>
                    <input class="form-control" type="number" id="anneeDeNaissance" th:field="*{anneeDeNaissance}" required="required" min="1970" max="2022"></input>
                </div>
                <div th:if="${errors != null and #lists.contains(errors, 'anneeDeNaissance')}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span th:text="#{message.erreur.inscription.champ.annee.de.naissance}" ></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <!-- Submit -->
                <div class="d-flex flex-row-reverse">
                    <button class="btn btn-primary" type="submit" value="Enregistrer">Enregistrer</button>
                </div>
            </form>
        </div>
    </body>
</html>