<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title></title>
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top" th:fragment="content">
    <div class="container">
        <!-- logo "Site perso" -->
        <a class="navbar-brand bi bi-house-fill" href="#" th:href="@{/}" th:text="#{nav.home}"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- menu général -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Le blog -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle bi-justify" href="#" id="navbarDropdownMenuFil" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{nav.fil}"></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuFil">
                        <li sec:authorize="isAuthenticated()">
                            <a th:href="@{/fil/nouveau}" class="dropdown-item bi bi-plus-square-fill" th:text="#{nav.fil.nouveau}"></a>
                        </li>
                        <li sec:authorize="isAuthenticated()"><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item bi bi-justify" th:href="@{/fil/page-principale}" th:text="#{nav.fil.tous}"></a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item bi bi-person-lines-fill" th:href="@{/fil/rubrique?nom=aide}" th:text="#{nav.fil.aide}"></a></li>
                        <li><a class="dropdown-item bi bi-terminal-fill" th:href="@{/fil/rubrique?nom=linux}" th:text="#{nav.fil.linux}"></a></li>
                        <li><a class="dropdown-item bi bi-book" th:href="@{/fil/rubrique?nom=actualité}" th:text="#{nav.fil.actualite}"></a></li>
                        <li><a class="dropdown-item bi bi-tools" th:href="@{/fil/rubrique?nom=outil-en-ligne}" th:text="#{nav.fil.outils}"></a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item bi bi-card-image" th:href="@{/fil/rubrique?nom=image}" th:text="#{nav.fil.images}"></a></li>
                        <li><a class="dropdown-item bi bi-tag" th:href="@{/fil/mur-tags}" th:text="#{nav.fil.tags}"></a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item bi bi-file-text" th:href="@{/fil/rubrique?nom=wiki}" th:text="#{nav.fil.wiki}"></a></li>
                        <li sec:authorize="isAuthenticated()"><hr class="dropdown-divider"></li>
                        <li sec:authorize="isAuthenticated()"><a class="dropdown-item bi bi-file-text" th:href="@{/fil/rubrique?nom=en-cours}" th:text="#{nav.fil.en.cours}"></a></li>
                    </ul>
                </li>
                <!-- L'annuaire -->
                <li class="nav-item">
                    <a class="nav-link bi bi-search" th:href="@{/annuaire}" th:text="#{nav.annuaire}"></a>
                </li>
                <!-- Administration -->
                <li class="nav-item dropdown" sec:authorize="hasRole('Administrateur')">
                    <a class="nav-link dropdown-toggle bi bi-pc-display-horizontal" href="#" id="navbarDropdownMenuAdminstration" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{nav.administration}"></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuAdministration">
                        <li><a class="dropdown-item bi bi-people-fill" th:href="@{/administration/liste}" th:text="#{nav.administration.liste.utilisateurs}"></a></li>
                        <li><a class="dropdown-item bi bi-bug-fill" th:href="@{/fil/rubrique?nom=bug}" th:text="#{nav.administration.liste.bugs}"></a></li>
                    </ul>
                </li>
            </ul>
            <div class="d-flex">
                <!-- Bouton connexion -->
                <a sec:authorize="isAnonymous()" class="btn btn-primary bi bi-person-circle btn-block" th:text="#{texte.bouton.connexion}" th:href="@{/connexion}"></a>
                <!-- Menu "Mon profil" -->
                <ul sec:authorize="isAuthenticated()" class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle bi bi-person-circle" href="#" id="navbarDropdownMenuAccount" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{nav.compte}"></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuAccount">
                            <li><a class="dropdown-item bi bi-person-circle" th:href="@{/profil}" th:text="#{nav.compte.gerer}"></a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li class="container-fluid">
                                <form id="deconnexion-form" th:action="@{/logout}" method="post">
                                    <button type="submit" class="btn btn-primary" sec:authorize="isAuthenticated()" th:text="#{texte.bouton.deconnexion}" value="logout"></button>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
</body>
</html>
