<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <div th:if="${pageOfObjects.totalPages > 1}" th:fragment="content (url)">

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                
                <!-- retour au début -->
                <li class="page-item"><a class="page-link text-dark" th:href="@{ ${url} (size=${pageOfObjects.size}, number=0, sortColsAndDirections=${#strings.replace(pageOfObjects.sort, ' ', '')}) }" th:text="${'<<'}"></a></li>
                
                <!-- page précédente -->
				<li class="page-item"><a class="page-link text-dark" th:href="@{ ${url} (size=${pageOfObjects.size}, number=( ${pageOfObjects.number > 0} ? ${pageOfObjects.number - 1} : 0 ), sortColsAndDirections=${#strings.replace(pageOfObjects.sort, ' ', '')}) }" th:text="${'<'}"></a></li>                
                <!-- première page -->
                <li class="page-item" th:classappend="${pageOfObjects.number == 0 ? 'active' : 'null'}"><a class="page-link text-dark" th:href="@{ ${url} (size=${pageOfObjects.size}, number=0, sortColsAndDirections=${#strings.replace(pageOfObjects.sort, ' ', '')}) }">1</a></li>
                
                <!-- premières pages -->
                <th:block th:if="${pageOfObjects.number <= 3}">
                    <li th:each="page: ${#numbers.sequence(1, pageOfObjects.number - 1, 1)}">
                        <a class="page-link text-dark" th:href="@{ ${url} (size=${pageOfObjects.size}, number=${page}, sortColsAndDirections=${#strings.replace(pageOfObjects.sort, ' ', '')}) }" th:text="${page} + 1"></a>
                    </li>
                </th:block>
                
                <!-- ... -->
                <th:block th:if="${pageOfObjects.number > 3}">
                    <li class="page-item text-dark"><a class="page-link disabled text-dark" href="#">...</a></li>
                    <li class="page-item"><a class="page-link text-dark" th:href="@{ ${url} (size=${pageOfObjects.size}, number=${pageOfObjects.number - 1}, sortColsAndDirections=${#strings.replace(pageOfObjects.sort, ' ', '')}) }" th:text="${pageOfObjects.number}"></a></li>
                </th:block>
                
                <!-- page courante -->
                <li class="page-item active"><a class="page-link active text-dark" th:if="${pageOfObjects.number != 0 && pageOfObjects.number != pageOfObjects.totalPages - 1}" th:href="@{ ${url} (size=${pageOfObjects.size}, number=${pageOfObjects.number}, sortColsAndDirections=${#strings.replace(pageOfObjects.sort, ' ', '')}) }" th:text="${pageOfObjects.number + 1}"></a></li>
                
                <!-- ... -->
                <th:block th:if="${pageOfObjects.totalPages - pageOfObjects.number > 4}">
                    <li class="page-item"><a class="page-link text-dark" th:href="@{ ${url} (size=${pageOfObjects.size}, number=${pageOfObjects.number + 1}, sortColsAndDirections=${#strings.replace(pageOfObjects.sort, ' ', '')}) }" th:text="${pageOfObjects.number + 2}"></a></li>
                    <li class="page-item"><a class="page-link disabled text-dark" href="#">...</a></li>
                </th:block>
                
                <!-- dernières pages -->
                <th:block th:if="${pageOfObjects.totalPages - pageOfObjects.number <= 4}">
                    <li th:each="page: ${#numbers.sequence(pageOfObjects.number + 2, pageOfObjects.totalPages - 1, 1)}">
                        <a class="page-link text-dark" th:href="@{ ${url} (size=${pageOfObjects.size}, number=${page - 1}, sortColsAndDirections=${#strings.replace(pageOfObjects.sort, ' ', '')}) }" th:text="${page}"></a>
                    </li>
                </th:block> 
                    
                <!-- dernière page -->
                <li class="page-item" th:classappend="${pageOfObjects.number == pageOfObjects.totalPages - 1 ? 'active' : ''}"><a class="page-link text-dark" th:href="@{ ${url} (size=${pageOfObjects.size}, number=${pageOfObjects.totalPages - 1}, sortColsAndDirections=${#strings.replace(pageOfObjects.sort, ' ', '')}) }" th:text="${pageOfObjects.totalPages}"></a></li>
                
                <!-- page suivante -->
                <li class="page-item"><a class="page-link text-dark" th:href="@{ ${url} (size=${pageOfObjects.size}, number=(${pageOfObjects.number} < ${pageOfObjects.totalPages - 1} ? ${pageOfObjects.number + 1} : ${pageOfObjects.number}), sortColsAndDirections=${#strings.replace(pageOfObjects.sort, ' ', '')}) }" th:text="${'>'}"></a></li>
                
                <!-- saut à la fin -->
                <li class="page-item"><a class="page-link text-dark" th:href="@{ ${url} (size=${pageOfObjects.size}, number=${pageOfObjects.totalPages - 1}, sortColsAndDirections=${#strings.replace(pageOfObjects.sort, ' ', '')}) }" th:text="${'>>'}"></a></li>
            
            </ul>
        </nav>
        
    </div>
</html>