<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <title th:fragment="title" th:text=""></title>
    <script th:fragment="script" type="text/javascript" src=""></script>
    <link th:fragment="css" rel="stylesheet" type="text/css" href=""></link>
    
    <div th:fragment="content">
        <nav>
            <ul>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/sport-nutrition/tableau-de-bord}" th:text="#{nav.tableau.de.bord}"></a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/sport-nutrition/open-food-facts}" th:text="#{nav.sous.open.food.facts}"></a></li>
            </ul>
        </nav>
    </div>

</html>