<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <title th:fragment="title" th:text="#{titre.liste.utilisateurs}"></title>
    <script th:fragment="script" type="text/javascript" src=""></script>
    <link th:fragment="css" rel="stylesheet" type="text/css" href=""></link>

    <div th:fragment="content">
    
        <h1 th:text="#{titre.liste.utilisateurs}"></h1>
    
        <table>
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Adresse mail</th>
                    <th>Année de naissance</th>
                    <th>Profil</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="utilisateur: ${utilisateurs}">
                    <td th:text="${utilisateur.prenom}" />
                    <td th:text="${utilisateur.nom}" />
                    <td th:text="${utilisateur.mail}" />
                    <td th:text="${utilisateur.anneeDeNaissance}" />
                    <td th:text="${utilisateur.profil.nomProfil}" />
                </tr>
            </tbody>
        </table>
    </div>

</html>