<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <title th:fragment="title" th:text=""></title>
    <script th:fragment="script" type="text/javascript" src=""></script>
    <link th:fragment="css" rel="stylesheet" type="text/css" href=""></link>

    <div th:fragment="content">
    
        <!-- HEADER -->    
        <th:block th:replace="openFoodFacts/header"></th:block>    
    
        <!-- CONTENU -->
        <th:block th:replace="${sousPage} :: content"></th:block>
        
    </div>
</html>