<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title th:fragment="title" th:text="#{titre.fil}"></title>
        <script th:fragment="script" type="text/javascript" src="/js/fil.js"></script>
    </head>
    <body>
        <div th:fragment="content">
        <!-- Titre et sous-titre -->
            <th:block th:fragment="titre">
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <h1 th:if="${fil != null}" th:text="${fil.titre} + '.'"></h1>
                        <h1 th:if="${fil == null}" th:text="#{titre.fil}"></h1>
                    </blockquote>
                    <figcaption th:if="${fil != null}" class="blockquote-footer" th:text="${'# ' + fil.id}"></figcaption>
                    <figcaption th:if="${fil == null}" class="blockquote-footer" th:text="#{sous.titre.fil}"></figcaption>
                </figure>
            </th:block>
            <!-- Modal de suppression du fil -->
            <th:block sec:authorize="isAuthenticated()" th:replace="fil/modal-supprimer :: content( ${origine.ecranOrigine} + ',consulter' )"></th:block>  
            <th:block th:if="${fil != null}">
                <div class="flex mb-3">
                    <th:block th:if="${not #lists.isEmpty(fil.tags)}" th:each="tag: ${fil.tags}">
                        <a th:href="@{'/fil/rubrique' (nom=${tag.libelle})}"><span class="badge bg-secondary" th:text="${tag.libelle}"></span></a>
                    </th:block>
                </div>
                <div>
                    <img class="container-fluid" th:if="${fil.image != null}" th:src="${fil.image}" th:alt="${fil.image}" />
                    <p th:utext="${fil.message}"></p>
                    <a class="text-secondary" th:if="${fil.lien != ''}" th:text="${fil.lien}" th:href="${fil.lien}" target="_blank"></a>
                </div>
                <div class="mt-3 text-muted d-flex justify-content-between align-items-center">
                    <span class="text-secondary" th:text="${'~ ' + fil.auteurPrenom + ' ' + fil.auteurNom + ' art. #' + fil.id + (!fil.edited ? ' créé le ' + #temporals.format(fil.dateCreation, 'dd/MM/yyyy@HH:mm') : ' mis à jour le ' + #temporals.format(fil.dateMiseAJour, 'dd/MM/yyyy@HH:mm')) + ' ~'}"></span>
                    <div class="mb-3" sec:authorize="isAnonymous()">
                        <a type="button" class="btn btn-primary bi bi-box-arrow-left" th:if="${origine.ecranOrigine == 'page-principale'}" th:href="@{'/fil/' + ${origine.ecranOrigine} + '?number=' + ${origine.number} + '&size=' + ${origine.size} + '#' +  ${origine.id}}" th:text="#{texte.bouton.retour}"></a>
                        <a type="button" class="btn btn-primary bi bi-box-arrow-left" th:if="${origine.ecranOrigine != 'page-principale'}" th:href="@{'/fil/rubrique?nom=' + ${origine.ecranOrigine} + '&number=' + ${origine.number} + '&size=' + ${origine.size} + '#' +  ${origine.id}}" th:text="#{texte.bouton.retour}"></a>
                    </div>
                    <div class="mb-3 suppr" sec:authorize="isAuthenticated()" th:id="${fil.id}">
                        <a type="button" class="btn btn-primary bi bi-box-arrow-left" th:if="${origine.ecranOrigine == 'page-principale'}" th:href="@{'/fil/' + ${origine.ecranOrigine} + '?number=' + ${origine.number} + '&size=' + ${origine.size} + '#' +  ${origine.id}}" th:text="#{texte.bouton.retour}"></a>
                        <a type="button" class="btn btn-primary bi bi-box-arrow-left" th:if="${origine.ecranOrigine != 'page-principale'}" th:href="@{'/fil/rubrique?nom=' + ${origine.ecranOrigine} + '&number=' + ${origine.number} + '&size=' + ${origine.size} + '#' +  ${origine.id}}" th:text="#{texte.bouton.retour}"></a>
                        <a type="button" class="btn btn-primary bi bi-pen" th:href="@{'/fil/editer/' (id=${origine.id} , ecranOrigine=${origine.ecranOrigine} + ',consulter', number=${origine.number}, size=${origine.size}) }" th:if="${fil.editable}" th:text="#{texte.bouton.editer}"></a>
                        <button type="button" class="btn bi-trash btn-danger" name="btnSupprimer" data-bs-toggle="modal" data-bs-target="#supprimerFil" th:if="${fil.supprimable}" th:text="#{texte.bouton.supprimer}"></button> 
                    </div>
                </div>
    
            </th:block>
            
        </div>
    </body>
</html>