<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <title th:fragment="title" th:text="#{titre.fil}"></title>
    <script th:fragment="script" type="text/javascript" src="/js/fil.js"></script>

    <div th:fragment="content" sec:authorize="isAuthenticated()">
    
        <!-- Titre et sous-titre -->
        <th:block th:replace="fil/page-principale :: titre"></th:block>
        
        <!-- Formulaire d'édition d'un fil -->
        <form class="mb-3" 
            th:action="@{/fil/mettre-a-jour}" 
            enctype="multipart/form-data" 
            method="post"
            th:object="${fil}"
            novalidate="novalidate">
            <div>
                <!-- titre -->
                <div class="form mb-3">
                    <label for="titre" th:text="#{formulaire.champ.fil.nouveau.titre}"></label> 
                    <input class="form-control" type="text" id="titre" name="titre" required="required" th:field=*{titre}> 
                </div>
                <div th:if="${titreError != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span th:text="#{message.erreur.fil.titre}" ></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <!-- message -->
                <div class="form mb-3">
                    <label for="message" th:text="#{formulaire.champ.fil.nouveau.message}"></label>
                    <textarea class="form-control" id="message" name="message" rows="6" th:field=*{message}></textarea>
                </div>
                <div th:if="${messageError != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span th:text="#{message.erreur.fil.message}" ></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <!-- lien -->
                <div class="form mb-3">
                    <label for="lien" th:text="#{formulaire.champ.fil.nouveau.lien}"></label>
                    <input class="form-control" type="url" id="lien" name="lien" th:field=*{lien}>
                </div>
                <div th:if="${lienError != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span th:text="#{message.erreur.fil.lien}" ></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <!-- ajout d'un image -->
                <div th:if="${fil.cheminImageActuelle == null}" class="form mb-3">
                    <label class="form-label" for="file" th:text="#{formulaire.champ.fil.nouveau.image}"></label>
                    <input class="form-control"  type="file" id="image" name="image" accept="image/*" th:field="*{image}">
                </div>
                <div th:if="${imageError != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span th:text="#{message.erreur.fil.image}" ></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <!-- remplacement de l'image actuelle -->
                <th:block th:if="${fil.cheminImageActuelle != null}">
                    <div class="row form mb-3">
                        <div class="col-lg-2">
                            <img class="img-thumbnail" th:src="${fil.cheminImageActuelle}" alt="" th:alt="${fil.cheminImageActuelle}" />
                        </div>
                        <div class="col-lg-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="supprimerImageActuelle" th:field="*{supprimerImageActuelle}">
                                <label class="form-check-label" for="supprimerImageActuelle" th:text="#{formulaire.champ.fil.supprimer.image}"></label>
                            </div>
                        </div>
                        <div class="col-lg">
                            <div class="form mb-3">
                                <label class="form-label" for="file" th:text="#{formulaire.champ.fil.remplacer.image}"></label>
                                <input class="form-control"  type="file" id="image" name="image" accept="image/*" th:field="*{image}">
                            </div>
                            <div th:if="${imageError != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
                                <span th:text="#{message.erreur.fil.image}" ></span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                </th:block>
                <!-- appercu -->
                <div class="form-check mb-3">
                    <input class="form-check-input"  type="checkbox" id="appercu" name="appercu" th:field=*{appercu}>
                    <label class="form-check-label" for="appercu" th:text="#{formulaire.champ.fil.nouveau.appercu}"></label>
                </div>
                <!-- tags -->
                <div class="form mb-3">
                    <label for="tags" th:text="#{formulaire.champ.fil.nouveau.tags}"></label>
                    <input class="form-control" type="text" id="tags" name="tags" th:field=*{tags}>
                </div>
                <!-- champs cachés à transmettre : l'origine d'accès à la page d'édition du fil -->
                <input type="hidden" th:field="*{origine.id}">                      
                <input type="hidden" th:field="*{origine.ecranOrigine}">                      
                <input type="hidden" th:field="*{origine.number}">                      
                <input type="hidden" th:field="*{origine.size}">                    
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <p></p>
                <div>
                    <a type="button" class="btn btn-primary bi bi-box-arrow-left" th:if="${fil.origine.ecranOrigine == 'page-principale'}" th:href="@{'/fil/' + ${fil.origine.ecranOrigine} + '?number=' + ${fil.origine.number} + '&size=' + ${fil.origine.size} + '#' +  ${fil.origine.id}}" th:text="#{texte.bouton.annuler}"></a>
                    <a type="button" class="btn btn-primary bi bi-box-arrow-left" th:if="${fil.origine.ecranOrigine == 'page-principale,consulter'}" th:href="@{'/fil/consulter' (id=${fil.origine.id}, ecranOrigine='page-principale', number=${fil.origine.number}, size=${fil.origine.size}) }" th:text="#{texte.bouton.annuler}"></a>
                    <a type="button" class="btn btn-primary bi bi-box-arrow-left" th:if="${fil.origine.ecranOrigine != 'page-principale,consulter' and #strings.substringAfter(fil.origine.ecranOrigine, ',') == 'consulter'}" th:href="@{'/fil/consulter' (id=${fil.origine.id}, ecranOrigine=${#strings.substringBefore(fil.origine.ecranOrigine, ',')}, number=${fil.origine.number}, size=${fil.origine.size}) }" th:text="#{texte.bouton.annuler}"></a>
                    <a type="button" class="btn btn-primary bi bi-box-arrow-left" th:if="${fil.origine.ecranOrigine != 'page-principale' and fil.origine.ecranOrigine != 'page-principale,consulter' and #strings.substringAfter(fil.origine.ecranOrigine, ',') != 'consulter'}" th:href="@{'/fil/rubrique?nom=' + ${fil.origine.ecranOrigine} + '&number=' + ${fil.origine.number} + '&size=' + ${fil.origine.size} + '#' +  ${fil.origine.id} }" th:text="#{texte.bouton.annuler}"></a>
                    <button type="submit" class="btn btn-primary bi bi-save " th:text="#{texte.bouton.enregistrer}" id="submitBtn"></button>
                </div>
            </div>
        </form>
    </div>
</html>