<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <div th:fragment="content (ecranOrigine)">
                
        <div class="modal fade" id="supprimerFil" tabindex="-1" aria-labelledby="supprimerFilLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="supprimerFilLabel" th:text="#{titre.fil}"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p th:text="#{titre.fil.supprimer}"></p>
                    </div>                            
                    <div class="modal-footer">
                        <form th:action="@{/fil/supprimer}" method="post" id="formSupprimer">
                            <input type="hidden" name="id"/>
                            <input type="hidden" name="ecranOrigine" th:value="${ecranOrigine}"/>
                            <input type="hidden" name="number" th:value="${pageOfObjects != null ? pageOfObjects.number : 0}"/>
                            <input type="hidden" name="size" th:value="${pageOfObjects != null ? pageOfObjects.size : 10}"/>
                            <button type="submit" class="btn btn-danger" id="suppressionConfirmer" th:text="#{texte.bouton.supprimer}"></button>
                        </form>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" th:text="#{texte.bouton.annuler}"></button>
                    </div>
                </div>
            </div>
        </div>    
        
    </div>

</html>