<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <title th:fragment="title" th:text="#{sous.titre.fil.mur.tags}"></title>
    <script th:fragment="script" type="text/javascript" src="/js/fil.js"></script>

    <div th:fragment="content">
    
        <!-- Titre et sous-titre -->
        <th:block th:fragment="titre">
            <figure class="text-center">
                <blockquote class="blockquote">
                    <h1 class="fw-bold">Mur de tags</h1>
                </blockquote>
                <figcaption class="blockquote-footer"></figcaption>
            </figure>
        </th:block>
        
        <th:block th:each="tag: ${tags}">
        	<a type="button" class="mur-tag btn btn-primary position-relative" th:href="@{'/fil/rubrique' (nom=${tag.libelle})}">
  				<span  th:text="${tag.libelle}"></span>
  				<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark" th:text="${tag.nbAttributions}"></span>
			</a>
        </th:block>

    </div>

</html>