<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <title th:fragment="title" th:text="#{titre.fil}"></title>
    <script th:fragment="script" type="text/javascript" src="/js/fil.js"></script>

    <div th:fragment="content">
    
        <!-- Titre et sous-titre -->
        <th:block th:fragment="titre">
            <figure class="text-center">
                <blockquote class="blockquote">
                    <h1 class="fw-bold" th:text="#{titre.fil}"></h1>
                </blockquote>
                <figcaption class="blockquote-footer" th:text="#{sous.titre.fil}">
                </figcaption>
            </figure>
        </th:block>
        
        <!-- Zone des messages -->
        <div class="alert alert-dark alert-dismissible fade show" role="alert" th:if="${filResumeDto}" >
            <span th:text="${'Fil ID #' + filResumeDto.id + ' ' + filResumeDto.action.displayValue + '.'}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${messageEchec}" >
            <span th:text="${messageEchec}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        
        <!-- Modal de suppression du fil -->
        <th:block th:replace="fil/modal-supprimer :: content('page-principale')"></th:block>
    
        <!-- Pagination TOP -->
        <th:block th:replace="layouts/pagination :: content(url = '/fil/page-principale')"></th:block>
        
        <!-- Liste des fils -->
        <th:block th:if="${not #lists.isEmpty(pageOfObjects)}" th:each="fil: ${pageOfObjects.content}">
        	<div class="row">
                <a th:id="${fil.id}"></a>
                <div class="col-lg-2 col-sm-0"></div>
                <div class="col-lg-8 col-sm-12">
                    <div class="card mb-3 suppr shadow" th:id="${fil.id}">
                        <p class="card-header h3 fw-bold text-center" th:text="${fil.titre}"></p>
                        <img class="card-img-top" th:if="${fil.image != null}" th:src="${fil.image}" th:alt="${fil.image}" />
                        <div class="card-body">
                            <p th:if="${!fil.appercu}" class="card-text" th:utext="${fil.message}"></p>
                            <p>
                                <a class="card-text" th:if="${fil.lien != ''}" th:text="${fil.lien}" th:href="${fil.lien}" target="_blank"></a>
                            </p>
                            <div class="flex">
                                <th:block th:if="${not #lists.isEmpty(fil.tags)}" th:each="tag: ${fil.tags}">
                                    <a th:href="@{'/fil/rubrique' (nom=${tag.libelle})}"><span class="badge bg-primary" th:text="${tag.libelle}"></span></a>
                                </th:block>
                            </div>
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between align-items-center">
                            <span th:text="${'~ ' + fil.auteurPrenom + ' ' + fil.auteurNom + ' art. #' + fil.id + (!fil.edited ? ' créé le ' + #temporals.format(fil.dateCreation, 'dd/MM/yyyy@HH:mm') : ' mis à jour le ' + #temporals.format(fil.dateMiseAJour, 'dd/MM/yyyy@HH:mm')) + ' ~'}"></span>
                            <span>
                                <a type="button" th:if="${fil.appercu}" class="btn btn-sm btn-primary bi bi-eye" th:href="@{'/fil/consulter/' (id=${fil.id}, ecranOrigine='page-principale', number=${pageOfObjects.number}, size=${pageOfObjects.size}) }"></a>
                                <a type="button" class="btn btn-sm btn-primary bi bi-pen-fill" th:href="@{'/fil/editer/' ( id=${fil.id} , ecranOrigine='page-principale', number=${pageOfObjects.number}, size=${pageOfObjects.size} ) }" th:if="${fil.editable}"></a>
                                <button type="button" class="btn btn-sm btn-danger bi bi-trash-fill" name="btnSupprimer" th:if="${fil.supprimable}" data-bs-toggle="modal" data-bs-target="#supprimerFil"></button>
                            </span> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-0"></div>
       		</div>
        </th:block>
        
        <!-- Pagination BOTTOM -->       
        <th:block th:replace="layouts/pagination :: content(url = '/fil/page-principale')"></th:block>

    </div>

</html>