:root {
	--monokai-dark-grey: #2d2a2e;
	--monokai-grey: #939293;
	--monokai-white: #fcfcfa;
	--monokai-pink: #ff6188;
	--monokai-orange: #fc9867;
	--monokai-yellow: #ffd866;
	--monokai-green: #a9dc76;
	--monokai-blue: #78dce8;
	--monokai-purple: #ab9df2;
}

html {
    overflow-y: scroll;
}

body {
	background-color: var(--monokai-dark-grey);
	color: var(--monokai-yellow);
    padding-top: 5rem;
}

.navbar, .navbar-brand, .nav-link, .dropdown-menu, .dropdown-item {
	background-color: var(--monokai-dark-grey) !important;
	color: var(--monokai-yellow)!important;
}

h1, h2 {
	font-size: 3rem;
	color: var(--monokai-white);
}

h3 {
    color: var(--monokai-green);
}

h4 {
    color: var(--monokai-orange);
}

a {
    color: var(--monokai-orange);
    text-decoration: none;
}

a:hover {
    color: var(--monokai-orange);
    text-decoration: underline;
}

pre code {
    color: var(--monokai-yellow);
}

code {
    color: var(--monokai-blue);
}

.blockquote-footer {
	color: var(--monokai-white);
	font-size: 2.25em;
}

.mur-tag {
	margin-right: 1rem;
	margin-bottom: 1rem;
}

tr.clickable:hover {
	cursor: pointer;
}

.thumbnail {
	max-width: 33%;
}

p.with-img {
    text-align: center;
}

img.in-article {
    padding-left: 0;
	padding-right: 0;
    width: 100%;
    max-width: max-content;
}

.page-item.active .page-link {
	background-color: #6c757d;
	border-color: #6c757d;
	color: #fff !important;
}

.card, .card-header, .card-footer {
	background-color: var(--monokai-dark-grey);
	border-color: var(--monokai-yellow);
	color: var(--monokai-white)!important;
}

.btn-primary {
	background-color: var(--monokai-yellow);
	color: var(--monokai-dark-grey);
	border-color: var(--monokai-yellow);
}

.btn-primary:hover, .dropdown-item:hover {
	background-color: var(--monokai-orange)!important;
	color: var(--monokai-dark-grey)!important;
	border-color: var(--monokai-orange) !important;
}

.btn-danger {
	background-color: var(--monokai-pink);
	color: var(--monokai-dark-grey);
	border-color: var(--monokai-pink);
}

.btn-danger:hover {
	background-color: var(--monokai-orange);
	color: var(--monokai-dark-grey);
	border-color: var(--monokai-orange);
}

.bg-primary {
	background-color: var(--monokai-pink)!important;
	color: var(--monokai-dark-grey)!important;
}

table {
    border-color: var(--monokai-yellow)!important;
}
th, td {
	color: var(--monokai-white)!important;
}