<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title th:fragment="title" th:text="#{titre.accueil}"></title>
        <script th:fragment="script" type="text/javascript" src="/js/accueil.js"></script>
    </head>
    <body>
        <div th:fragment="content">
            <!-- Titre et sous-titre -->
            <th:block th:fragment="titre">
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <h1 class="fw-bold" th:text="#{titre.accueil}"></h1>
                    </blockquote>
                    <figcaption class="blockquote-footer" th:text="#{sous.titre.accueil}"></figcaption>
                </figure>
            </th:block>
            <!-- Zone des messages -->
            <div th:if="${enregistrementOk}" class="alert alert-dark alert-dismissible fade show" role="alert">
                <span th:text="#{message.succes.inscription}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <!-- Edito -->
            <div class="row">
            <div class="col-lg-12">
                    <div class="card mb-3">
                        <h6 class="card-header h3 fw-bold d-flex justify-content-center">Edito</h6>
                        <div th:if="${editoEchec}" class="card-body">
                            <p>Edito à rédiger</p>
                        </div>
                        <div th:if="${!editoEchec}" class="card-body">
                            <p th:utext="${edito.message}"></p>
                        </div>
                        <div th:if="${!editoEchec}" class="card-footer text-muted d-flex justify-content-end align-items-center">
                            <span th:text="${edito.auteurPrenom + ' ' + edito.auteurNom}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Citation du jour -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-3">
                        <h6 class="card-header h3 fw-bold d-flex justify-content-center">La citation du jour</h6>
                        <div class="card-body">
                            <h5 th:if="${!fortuneEchec}" class="card-text" th:utext="${fortune.libelle}"></h5>
                            <h5 th:if="${fortuneEchec}" class="card-text">Erreur liée au programme fortune...</h5>
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-end align-items-center">
                            <span th:if="${!fortuneEchec}" th:text="${fortune.auteur}"></span>
                            <span th:if="${fortuneEchec}">Erreur liée au programme fortune...</span>
                        </div>
                    </div>
                </div>
                <!-- Image du moment -->
                <div class="col-lg-6">
                    <div class="card mb-3">    
                        <h6 class="card-header h3 fw-bold d-flex justify-content-center">L'image du moment</h6>
                        <img th:if="${!imageMomentEchec}" class="card-img-top" th:src="${imageDuMoment.image}" th:alt="${imageDuMoment.titre}" />
                        <div th:if="${!imageMomentEchec}" class="card-body">
                            <h5 class="card-title" th:text="${imageDuMoment.titre}"></h5>
                            <h6 class="card-text text-secondary"></h6>
                        </div>
                        <div th:if="${imageMomentEchec}" class="card-body">
                            <h5 class="card-title">Ajouter une image du moment</h5>
                            <h6 class="card-text text-secondary"></h6>
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-center align-items-center">
                            <a th:if="${!imageMomentEchec}" th:href="@{'/fil/consulter/' (id=${imageDuMoment.id}, ecranOrigine='accueil', number=0, size=0) }">Consulter l'article</a>
                            <p th:if="${imageMomentEchec}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>