<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title th:fragment="title" th:text="#{titre.accueil}"></title>
        <script th:fragment="script" type="text/javascript" src="js/accueil.js"></script>
    </head>
    <body>
        <div th:fragment="content">
            <!-- Titre et sous-titre -->
            <th:block th:fragment="titre">
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <h1 class="fw-bold" th:text="#{titre.accueil}"></h1>
                    </blockquote>
                    <figcaption class="blockquote-footer" th:text="#{sous.titre.accueil}">
                    </figcaption>
                </figure>
            </th:block>
            <!-- Connexion / enregistrement -->
            <div sec:authorize="isAnonymous()" class="container-lg">
                <div class="row">
                    <!-- Panneau de connexion -->
                    <div class="col-lg-6">
                        <div th:if="${loginFailure}" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <span th:text="#{message.erreur.authentification}"></span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title" th:text="#{titre.connexion}"></h5>
                                <h6 class="card-subtitle mb-2 text-muted"></h6>
                                <form novalidate="novalidate" class="card-text" id="connexion" th:action="@{/connexion}" method="post">
                                    <div class="mb-3">
                                        <label class="form-label" th:text="#{formulaire.champ.mail}" for="email"></label>
                                        <input class="form-control" type="email" id="email" name="username" required="required"></input>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" th:text="#{formulaire.champ.passe}"></label>
                                        <input class="form-control" type="password" name="password" required="required"></input>
                                    </div>
                                    <div class="d-flex flex-row-reverse">
                                        <button class="btn btn-primary" type="submit" th:text="#{texte.bouton.connexion}"></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Panneau d'enregistrement -->
                    <div class="col-lg-6">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Créer un compte</h5>
                                <h6 class="card-subtitle mb-2 text-muted"></h6>
                                <th:block th:replace="layouts/form_enregistrement::content(endPoint = '/enregistrer')"></th:block> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>