<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title th:fragment="title" th:text="#{titre.liste.utilisateurs}"></title>
        <script th:fragment="script" type="text/javascript" src=""></script>
    </head>
    <body>
        <div th:fragment="content">
            <!-- Titre et sous-titre -->
            <th:block th:fragment="titre">
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <h1 th:text="#{titre.liste.utilisateurs}"></h1>
                    </blockquote>
                    <figcaption class="blockquote-footer" th:text="#{sous.titre.liste.utilisateurs}">
                    </figcaption>
                </figure>
            </th:block>
            <p id="description" th:text="#{titre.liste.utilisateurs}"></p>
            <table class="table table-sm" aria-describedby="description">
                <thead>
                    <tr>                    
                        <th scope="col">ID</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Adresse mail</th>
                        <th scope="col">né(e) en</th>
                        <th scope="col">Profil</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="utilisateur: ${utilisateurs}">
                        <td th:text="${utilisateur.id}"></td>
                        <td th:text="${utilisateur.prenom}" />
                        <td th:text="${utilisateur.nom}" />
                        <td th:text="${utilisateur.mail}" />
                        <td th:text="${utilisateur.anneeDeNaissance}" />
                        <td th:text="${utilisateur.profil.nomProfil}" />
                        <td>à implémenter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>